.audioRange {
    width: 25%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.audioRange input{
  width: 90px;
  height: 3px;
  color: black;
  background-color: black;
  /* border-radius: 2px; */
}