.container {
    display: flex;
    height: 100%;
    /* width: 75%; */
    /* width: 50vw; */
    /* background-color: yellow; */
}


.container > main {
    /* width: 75%; */
    width: 50vw;
    position: relative;
    height: 100vh;
    max-height: 100vh;
}